version: '3.8'
services:
  db:
    image: postgres:15
    container_name: my-cloud-postgres
    environment:
      POSTGRES_DB: myclouddb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password1234
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: